<nz-flex nzAlign="center" nzJustify="space-between">
    <h1>Liste des classes</h1>
    <button nz-button [nzType]="'primary'" (click)="addClasse()">
      <span>Ajouter</span>
    </button>
  </nz-flex>
  <br />
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Ajout d'un cours"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="null"
  >
    <ng-container *nzModalContent>
      <app-add-classe [currentRecord]="currentRecord" (close)="handleCancel()" (refresh)="loadClasses()" ></app-add-classe>
    </ng-container>
  </nz-modal>
  
  <nz-table #basicTable [nzData]="listClasses" [nzLoading]="tableLoading">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <!-- <th>Etat</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data) {
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>
          <button
            nz-button
            [nzType]="'text'"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="menu"
          >
            <nz-icon nzType="more" />
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="updateClasse(data)">Modifier</li>
              <li nz-menu-item (click)="deleteClasse(data.id)">Supprimer</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
  