<form
  nz-form
  nzLayout="vertical"
  [formGroup]="courseForm"
  (ngSubmit)="submitForm()"
>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="name" nzRequired>
          <span>Nom </span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Veuillez entrer le nom du cours!">
          <input nz-input id="name" formControlName="name" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label
          nzFor="description"
          nzTooltipTitle="Ce champ est optionnel"
        >
          <span>Description</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Veuillez entrer une description!">
          <textarea nz-input id="description" formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <br />
  <nz-flex nzAlign="center" nzJustify="center">
    <nz-space>
      <button nz-button nzType="primary" [nzGhost]="true" (click)="onClose()" >Annuler</button>
      <nz-form-item nz-row class="register-area">
        <nz-form-control>
          <button nz-button nzType="primary">Enregistrer</button>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </nz-flex>
</form>
